.grid {
  display: grid;
  grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 700px) [md-end] 1.5rem 1fr [xl-end];
}

.grid * {
  grid-column: md;
}
.grid-xl {
  grid-column: xl;
}

.is-paddingless-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.ispaddingless-vertical {
  padding-top: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column .image {
  width: 100%;
  height: 100%;
}
@media (max-width: 672px) {
  :root {
    font-size: 75%;
  }
}
